.navbar.navbar-dark.navbar-expand-md.bg-dark {
  background:black;
}

.navbar.navbar-dark.navbar-expand-md {
  background-color:black;
}

@media (min-width: 300px) {
  #hero {
    min-height:900px;
    background-image:url(../../assets/img/phone2.jpg);
    background-size:cover;
  }
}

@media (min-width: 576px) {
  #hero {
    min-height:900px;
    background-image:url(../../assets/img/tab.jpg);
    background-size:cover;
  }
}

@media (min-width: 768px) {
  #hero {
    min-height:900px;
    background-image:url(../../assets/img/look.jpg);
    background-size:cover;
  }
}

@media (min-width: 992px) {
  #hero {
    min-height:900px;
    background-image:url(../../assets/img/look2.jpg);
    background-size:cover;
  }
}

.col-3.welcome {
  padding-top:60px;
  text-align:center;
}

#hero h1 {
  color:rgb(218,212,74);
  font-family:Aldrich, sans-serif;
}

.text-white {
}

.col-3.welcome {
  padding-left:70px;
}

.col-6.welcome {
  text-align:center;
  padding-left:90px;
  padding-top:130px;
}

.btn:not(:disabled):not(.disabled) {
}

.btn:not(:disabled):not(.disabled) {
  border-radius:4px;
  border-color:yellow;
  color:yellow;
}

.mean {
  padding-top:200px;
  text-align:center;
  padding-bottom:200PX;
}

#hello {
  padding-top:250px;
}

#hello .text-white {
  font-size:8px;
}

@media (min-width: 576px) {
  #hello .text-white {
    font-size:12px;
  }
}

@media (min-width: 768px) {
  #hello .text-white {
    font-size:15px;
  }
}

div {
}

#qual {
  min-height:300px;
  background-color:black;
}

#qual .img {
  max-height:50px;
}

#qual img {
  max-height:70px;
}

@media (min-width: 768px) {
  #qual img {
    max-height:150px;
  }
}

img {
}

#nvlogo {
  max-height:75px;
}

.container.black {
  padding-top:80px;
  padding-bottom:80px;
  text-align:center;
  color:white;
}

.services {
  padding-top:200PX;
  padding-bottom:200PX;
  text-align:center;
}

.comic {
  background-image:url(../../assets/img/comic.jpg);
  min-height:200px;
  background-size:cover;
  max-height:none;
}

.container.awakening {
  padding-top:60px;
  padding-bottom:80px;
  text-align:center;
  color:white;
}

.comic p {
  font-size:12px;
}

.services p {
  font-size:14px;
  padding-top:20px;
}

p {
}

.container.black p {
}

.container.black p {
  font-size:14px;
}

.mean p {
  font-size:18px;
  padding-top:20px;
}

